<div class="container signup">

  <h2 class="signup__title">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "signup__form"}) do |f| %>
    <%= render "employees/shared/error_messages", resource: resource %>

    <div class="field signup__block">
      <%= f.label :email, class: "signup__label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "signup__field" %>
    </div>

    <div class="field signup__block">
      <%= f.label :password, class: "signup__label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "signup__field" %>
    </div>

    <div class="field signup__block">
      <%= f.label :password_confirmation, class: "signup__label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "signup__field" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "signup__btn" %>
    </div>
  <% end %>

  <%= render "employees/shared/links" %>
</div>