<% if @job.errors.any? %>
  <div class="warnings">
    <%= I18n.t("errors.template.body")%>
    <ul>
      <% @job.errors.full_messages.each do |m| %>
        <li class="alert"><%= m %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<%= form_with model: [@company, @job], html: { class: "create__form" } do |job| %>
  <div class="create__block title">
    <%= job.label :title, class: "create__label" %> <br>
    <%= job.text_field :title, class: "create__field" %>
  </div>

  <div class="create__block description">
    <%= job.label :description, class: "create__label" %> <br>
    <%= job.text_field :description, class: "create__field" %>
  </div>

  <div class="create__block salary">
    <%= job.label :salary_range, class: "create__label" %> <br>
    <%= job.number_field :salary_range, class: "create__field" %>
  </div>

  <div class="create__block type">
    <%= job.label :type_hiring, class: "create__label" %> <br>
    <%= job.collection_select :type_hiring, @types.map{ |type| [type.first, type.first.humanize] }, :first, :second %> 
  </div>

  <div class="create__block level">
    <%= job.label :level, class: "create__label" %> <br>
    <%= job.collection_select :level, @levels.map{ |level| [level.first, level.first.humanize] }, :first, :second %> 
  </div>

  <div class="create__block date">
    <%= job.label :deadline_application, class: "create__label" %> <br>
    <%= job.date_field :deadline_application, class: "create__field" %>
  </div>

  <div class="create__block vacancy">
    <%= job.label :total_vacancies, class: "create__label" %> <br>
    <%= job.number_field :total_vacancies, class: "create__field" %>
  </div>

  <div class="create__block require">
    <%= job.label :requirements, class: "create__label" %> <br>
    <%= job.text_area :requirements, size: "70x15", class: "create__field" %>
  </div>

  <div class="create__block submit">
    <%= job.submit 'Salvar', class: "btn btn__secondary" %>
  </div>

<% end %>