<% if @job.errors.any? %>
  <div class="alert">
    <%= I18n.t("errors.template.body")%>
    <ul>
      <% @job.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<%= form_with(model: [@company, @job]) do |job| %>
  <div>
    <%= job.label :title, 'Title' %>
    <%= job.text_field :title %>
  </div>

  <div>
    <%= job.label :description, 'Description' %>
    <%= job.text_field :description %>
  </div>

  <div>
    <%= job.label :salary_range, 'Salary range' %>
    <%= job.number_field :salary_range %>
  </div>


  <div>
    <%= job.label :level, 'Job level' %>
    <%= job.collection_select :level, @levels.map{ |level| [level.first, level.first.humanize] }, :first, :second %>
  </div>


  <div>
    <%= job.label :requirements, 'Requirements' %>
    <%= job.text_area :requirements, size: "70x5" %>
  </div>

  <div>
    <%= job.label :deadline_application, 'Deadline application' %>
    <%= job.date_field :deadline_application %>
  </div>

  <div>
    <%= job.label :total_vacancies, 'Total vacancies' %>
    <%= job.number_field :total_vacancies %>
  </div>

  <%= job.submit 'Save' %>

<% end %>