<h1>Job Opportunity</h1>



<%= @job.title %>
<%= @job.description %>
<%= @job.salary_range %>
<%= @job.level.capitalize %>
<%= @job.requirements %>
<%= @job.deadline_application.strftime("%d/%m/%Y") %>
<%= @job.total_vacancies %>

