<h1>Show de Job Opportunity</h1> 
<% if @job.active?%>
  <%= link_to 'Disable job', disable_company_job_path(@job.company, @job), method: :post %>
<% end %>

<h3><%= @job.title %></h3>

<%= link_to 'Edit', edit_company_job_path(@job.company, @job) %>

<%= @job.description %>
<%= @job.salary_range %>
<%= @job.level %>
<%= @job.requirements %>
<%= @job.deadline_application.strftime("%d/%m/%Y") %>
<%= @job.total_vacancies %>

