<h1>Show de Job Opportunity</h1> 

<h3><%= @job.title %></h3>

<%# TODO: Validar que somente o employee desta company pode editar ou desabilitar a job %>
<% if employee_signed_in? %>
  <% if @job.active?%>
    <%= link_to 'Disable job', disable_company_job_path(@job.company, @job), method: :post %>
  <% end %>

  <%= link_to 'Edit', edit_company_job_path(@job.company, @job) %>
<% else %>
  <%= link_to 'Apply for this job', apply_company_job_path(@job.company, @job), method: :post %>
<% end %>


<%= @job.description %>
<%= @job.salary_range %>
<%= @job.level %>
<%= @job.requirements %>
<%= @job.deadline_application.strftime("%d/%m/%Y") %>
<%= @job.total_vacancies %>

