<div class="content bg-gray">
  <div class="container">
    <%= render 'layouts/devise_msgs' %>

    <div class="cover">
      <h4 class="cover__title">Bem vindo ao Red Circle</h4>
      <p class="cover__subtitle">Encontre uma oportunidade e se insira neste círculo</p>
    </div>

    <div class="index">
      <% if @jobs.any? %>
        <h2 class="index__title">Oportunidades recém criadas:</h2>
        <div class="index__list">
          <% @jobs.each do |job| %>
            <div class="index__card">
              <div class="index__card__header">
                <%= link_to job.title, company_job_path(job.company, job), class: "index__card__attribute--link" %>
              </div>
              <div class="index__card__body primary">
                <div class="index__card__block">
                  <p class="index__card__label">Empresa:</p>
                  <%= link_to job.company.name, company_path(job.company), class: "index__card__attribute--link"%>
                </div>

                <div class="index__card__block">
                  <p class="index__card__label">Criado em:</p>
                  <p class="index__card__attribute"><%= job.created_at.strftime("%d/%m/%Y at %H:%M") %></p>
                </div>

                <div class="index__card__block">
                  <p class="index__card__label">Data limite para aplicar:</p>
                  <p class="index__card__attribute"><%= job.deadline_application.strftime("%d/%m/%Y") %></p>
                </div>

                <div class="index__card__block primary <%= job.status %>">
                  <span class="index__card__status <%= job.status %>"><%= Job.human_attribute_name("status.#{job.status}") %></span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <h2 class="index__title">Sem vagas no momento</h2>
      <% end %>
    </div>
  </div>
</div>
