<div class="container index">
  <% if @jobs.any? %>
    <h2 class="index__title">Resultados da busca</h2>
    <% @jobs.each do |job| %>
      <div class="index__list">
        <div class="index__item">
          <p class="index__label">Vaga:</p>
            <%= link_to job.title, company_job_path(job.company, job), class: "index__attribute link" %>
        </div>
        <div class="index__item">
          <p class="index__label">Empresa:</p>
            <%= link_to job.company.name, company_path(job.company), class: "index__attribute link"%>
        </div>
        <div class="index__item">
          <p class="index__label">Criada em:</p>
          <p class="index__attribute"><%= job.created_at.strftime("%d/%m/%Y às %H:%M") %></p>
        </div>
        <div class="index__item">
          <p class="index__label">Status:</p>
          <span class="index__status <%= job.status %>"><%= Job.human_attribute_name("status.#{job.status}") %></span>
        </div>
      </div>
    <% end %>
  <% else %>
    <h2 class="index__title">Desculpe, não achamos nenhuma vaga com este nome</h2>
  <% end %>
</div>