<h1>Show candidate</h1>

<% if candidate_signed_in? %>
  <div>
    <%= current_candidate.email %>
    <%= link_to 'Edit', edit_candidate_registration_path(current_candidate) %>
  </div>

  <div>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Companies', companies_path %>
  <%= link_to 'My applications', candidate_enrollments_path(current_candidate) %>
  </div>
<% end %>

<div>
  <%= @candidate.name %>
</div>

<div>
  <%= @candidate.email %>
</div>

<div>
  <%= @candidate.phone %>
</div>

<div>
  <%= @candidate.cpf %>
</div>

<div>
  <%= @candidate.biography %>
</div>
