<div class="container dashboard">
  <div class="dashboard__header">
    <h2 class="dashboard__name"><%= @candidate.name %> profile</h2>

    <% if candidate_signed_in? %>
      <% if current_candidate === @candidate %>
        <div class="dashboard__settings">
          <%= link_to 'Edit', edit_candidate_registration_path(current_candidate), class: "dashboard__btn edit" %>
          <%= link_to 'Delete', candidate_registration_path, method: :delete, class: "dashboard__btn delete" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="dashboard__grid candidate">
    <div class="dashboard__list">
      <div class="dashboard__item">
        <p class="dashboard__label">Name: </p>
        <p class="dashboard__attribute">
          <%= @candidate.name %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Email: </p>
        <p class="dashboard__attribute">
          <%= @candidate.email %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Phone: </p>
        <p class="dashboard__attribute">
          <%= @candidate.phone %>
        </p>
      </div>
      <% if employee_signed_in? || current_candidate === @candidate %>
        <div class="dashboard__item">
          <p class="dashboard__label">CPF: </p>
          <p class="dashboard__attribute">
            <%= @candidate.cpf %>
          </p>
        </div>
      <% end %>

      <div class="dashboard__item">
        <p class="dashboard__label">Biography: </p>
        <p class="dashboard__attribute">
          <%= @candidate.biography %>
        </p>
      </div>
    </div>
  </div>
</div>