<div class="container dashboard enrollment">
  <div class="dashboard__header">
    <h2 class="dashboard__name">Enrollment from <%= @enrollment.candidate.name %> for <%= @enrollment.job.title %> job</h2>

    <div class="dashboard__settings">
      <% if employee_signed_in? %>
        <%= link_to 'Approve', approve_enrollment_path(@enrollment), method: :post, class: "dashboard__btn approve" %>
        <%= link_to 'Deny', reject_enrollment_path(@enrollment), method: :post, class: "dashboard__btn deny" %>
      <% end %>
    </div>
  </div>

  <span class="dashboard__status <%= @enrollment.status %>"><%= @enrollment.status%></span>

  <div class="dashboard__grid two__columns">
    <div class="dashboard__list">
      <h4 class="dashboard__subtitle">Candidate data</h4>
      <div class="dashboard__item">
        <p class="dashboard__label">Candidato: </p>
        <p class="dashboard__attribute">
          <%= @enrollment.candidate.name %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Email: </p>
        <p class="dashboard__attribute">
          <%= @enrollment.candidate.email %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Phone: </p>
        <p class="dashboard__attribute">
          <%= @enrollment.candidate.phone %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Biography: </p>
        <p class="dashboard__attribute">
          <%= @enrollment.candidate.biography %>
        </p>
      </div>
    </div>

    <div class="dashboard__list">
      <h4 class="dashboard__subtitle">Job data</h4>
      <div class="dashboard__item">
        <p class="dashboard__label">Title: </p>
        <p class="dashboard__attribute">
          <%= @enrollment.job.title %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Description: </p>
        <p class="dashboard__attribute">
          <%= @enrollment.job.description %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Level: </p>
        <p class="dashboard__attribute">
          <%= @enrollment.job.level %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Salary: </p>
        <p class="dashboard__attribute">
          <%= @enrollment.job.salary_range %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Requirements: </p>
        <p class="dashboard__attribute">
          <%= @enrollment.job.requirements %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container response">
  <% if @enrollment.proposal %>
    <div class="response__item">
      <div class="response__header">
        <h4 class="response__title">Congratulations, you got approved, take a look on your proposal.</h4>
        <%= link_to 'Proposal', proposal_path(@enrollment.proposal), class: "response__btn" %>
      </div>
    </div>
  <% elsif @enrollment.denied? %>
    <div class="response__item">
      <h4 class="response__title">Company response</h4>
      <p class="response__label">Message received on: 
        <%= @enrollment.reject.created_at.strftime("%d %B %Y at %H:%M") %>
      </p>
      <div class="response__block">
        <div class="response__label">Message:</div>
        <p class="response__attribute">
          <%= @enrollment.reject.message %>
        </p>
      </div>
    </div>
  <% else %>
    <h4 class="response__title">Enrollment in progress, wait for a response.</h4>
  <% end %>
</div>
