<% if @company.errors.any? %>
  <div class="warnings">
    <%= I18n.t("errors.template.body")%>
    <ul>
      <% @company.errors.full_messages.each do |m| %>
        <li class="alert"><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @company, html: { class: "create__form" } do |f| %>

<div class="create__block">
  <%= f.label :name, class: "create__label" %> <br>
  <%= f.text_field :name, class: "create__field" %>
</div>

<div class="create__block">
  <%= f.label :logo , class: "create__label" %> <br>
  <%= f.file_field :logo, class: "create__field"  %>
</div>

<div class="create__block">
  <%= f.label :address, class: "create__label" %> <br>
  <%= f.text_field :address, class: "create__field"  %>
</div>

<div class="create__block">
  <%= f.label :cnpj, class: "create__label" %> <br>
  <%= f.number_field :cnpj, class: "create__field"  %>
</div>

<div class="create__block">
  <%= f.label :site, class: "create__label" %> <br>
  <%= f.text_field :site, class: "create__field"  %>
</div>

<div class="create__block">
  <%= f.label :social_media, class: "create__label" %> <br>
  <%= f.text_field :social_media, class: "create__field"   %>
</div>

<%= f.submit 'Salvar', class: "create__btn" %>

<% end %>