<% if @company.errors.any? %>
  <div class="warnings">
    <%= I18n.t("errors.template.body")%>
    <ul>
      <% @company.errors.full_messages.each do |m| %>
        <li class="alert"><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @company, html: { class: "create__form" } do |f| %>
<div class="create__block name">
  <%= f.label :name, class: "create__label" %> <br>
  <%= f.text_field :name, class: "create__field" %>
</div>

<div class="create__block cnpj">
  <%= f.label :cnpj, class: "create__label" %> <br>
  <%= f.number_field :cnpj, class: "create__field"  %>
</div>

<div class="create__block logo">
  <div class="container">
    <%= f.label :logo , class: "create__label" %> <br>
    <%= f.file_field :logo, class: "create__field" %>
  </div>
</div>

<div class="create__block address">
  <%= f.label :address, class: "create__label" %> <br>
  <%= f.text_field :address, class: "create__field"  %>
</div>

<div class="create__block complement">
  <%= f.label :complement, class: "create__label" %> <br>
  <%= f.text_field :complement, class: "create__field"  %>
</div>

<div class="create__block city">
  <%= f.label :city, class: "create__label" %> <br>
  <%= f.collection_select :city, @cities.map{ |city| [city.nome, city.nome] }, :first, :second, prompt: "Selecione sua cidade" %>
</div>

<div class="create__block state">
  <%= f.label :state, class: "create__label" %> <br>
  <%= f.collection_select :state, @states.map{ |state| [state.sigla, state.sigla] }, :first, :second, prompt: "Estado" %>
</div>

<div class="create__block site">
  <%= f.label :site, class: "create__label" %> <br>
  <%= f.text_field :site, class: "create__field"  %>
</div>

<div class="create__block social">
  <%= f.label :social_media, class: "create__label" %> <br>
  <%= f.text_field :social_media, class: "create__field"   %>
</div>

<div class="create__block submit">
  <%= f.submit 'Salvar', class: "btn btn__secondary" %>
</div>
<% end %>