<% if @company.errors.any? %>
  <div class="alert">
    <%= I18n.t("errors.template.body")%>
    <ul>
      <% @company.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @company do |f| %>

<div>
  <%= f.label :name, 'Company name' %> <br>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :logo, 'Logo'  %> <br>
  <%= f.file_field :logo %>
</div>

<div>
  <%= f.label :address, 'Address' %> <br>
  <%= f.text_field :address %>
</div>

<div>
  <%= f.label :cnpj, 'CNPJ' %> <br>
  <%= f.number_field :cnpj %>
</div>

<div>
  <%= f.label :site, 'Site' %> <br>
  <%= f.text_field :site %>
</div>

<div>
  <%= f.label :social_media, 'Social media' %> <br>
  <%= f.text_field :social_media  %>
</div>

<%= f.submit 'Save' %>

<% end %>