<% if @company.errors.any? %>
  <div class="">
    <%= I18n.t("errors.template.body")%>
    <ul>
      <% @company.errors.full_messages.each do |m| %>
        <li class="alert"><%= m %>TESTE</li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @company, html: { class: "signup__form" } do |f| %>

<div class="signup__block">
  <%= f.label :name, 'Company name', class: "signup__label" %> <br>
  <%= f.text_field :name, class: "signup__field"  %>
</div>

<div class="signup__block">
  <%= f.label :logo, 'Logo' , class: "signup__label" %> <br>
  <%= f.file_field :logo, class: "signup__field"  %>
</div>

<div class="signup__block">
  <%= f.label :address, 'Address', class: "signup__label" %> <br>
  <%= f.text_field :address, class: "signup__field"  %>
</div>

<div class="signup__block">
  <%= f.label :cnpj, 'CNPJ', class: "signup__label" %> <br>
  <%= f.number_field :cnpj, class: "signup__field"  %>
</div>

<div class="signup__block">
  <%= f.label :site, 'Site', class: "signup__label" %> <br>
  <%= f.text_field :site, class: "signup__field"  %>
</div>

<div class="signup__block">
  <%= f.label :social_media, 'Social media', class: "signup__label" %> <br>
  <%= f.text_field :social_media, class: "signup__field"   %>
</div>

<%= f.submit 'Save', class: "signup__btn" %>

<% end %>