<div class="container dashboard">
  <div class="dashboard__header">
    <% if !@company.name.blank?%>
      <h2 class="dashboard__name"><%= @company.name %> profile</h2>
    <% end %>

    <% if employee_signed_in? %>
      <% if current_employee.company_id === @company.id && current_employee.admin === 1 %>
      <div class="dashboard__settings">
        <%= link_to 'Edit', edit_company_path, class: "dashboard__btn edit" %>
        <%= link_to 'Delete', company_path, method: :delete, class: "dashboard__btn delete" %>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="dashboard__grid two__columns">
    <div class="dashboard__list">
      <div class="dashboard__item">
        <p class="dashboard__label">Company name: </p>
        <p class="dashboard__attribute">
          <%= @company.name %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Address: </p>
        <p class="dashboard__attribute">
          <%= @company.address %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">CNPJ: </p>
        <p class="dashboard__attribute">
          <%= @company.cnpj %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Site: </p>
        <p class="dashboard__attribute">
          <%= @company.site %>
        </p>
      </div>

      <div class="dashboard__item">
        <p class="dashboard__label">Social media: </p>
        <p class="dashboard__attribute">
          <%= @company.social_media %>
        </p>
      </div>
    </div>

    <div class="dashboard__avatar">
      <% if @company.logo.attached? %>
        <%= image_tag @company.logo %>
      <% else %>
        <%= image_tag '/app/assets/images/no-image-available.jpeg' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container jobs">
  <div class="jobs__header">
    <h3>Jobs opportunities</h3>
    <% if employee_signed_in? %>
      <% if current_employee.company_id === @company.id && current_employee.admin == 1 %>
        <div class="jobs__settings">
          <%= link_to 'Register a job opportunity', new_company_job_path(@company), class: "jobs__btn new" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if @company.jobs.empty? %>
    <h4>No registered jobs </h4>
  <% else %>
    <% @company.jobs.each do |job| %>
      <div class="jobs__item">
        <%= link_to job.title, company_job_path(job.company, job), class: "jobs__name" %>
        <% if job.inactive? %>
          <span class="jobs__status">is <%= job.status %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

    