<% if @company.name != 'Company name'%>
  <h1>Página da <%= @company.name %></h1>
<% end %>

<%= link_to 'Edit', edit_company_path %>
<%= link_to 'Jobs opportunities', company_jobs_path(@company) %>

<% if current_employee.admin == 1 %>
  <%= link_to 'Register a job opportunity', new_company_job_path(@company) %>
<% end %>

<%= @company.name %>
<%= @company.address %>
<%= @company.cnpj %>
<%= @company.site %>
<%= @company.social_media %>

<% if @company.logo.attached? %>
  <%= image_tag @company.logo %>
<% end %>