<div class="container company">
  <div class="company__header">
    <% if !@company.name.blank?%>
      <h2 class="company__name"><%= @company.name %> profile</h2>
    <% end %>

    <% if employee_signed_in? %>
      <% if current_employee.company_id === @company.id %>
      <div class="company__settings">
        <%= link_to 'Edit', edit_company_path, class: "company__btn edit" %>
      </div>
      <% end %>
    <% end %>
  </div>

  <div class="company__grid">
    <div class="company__list">
      <div class="company__item">
        <p class="company__label">Company name: </p>
        <p class="company__attribute">
          <%= @company.name %>
        </p>
      </div>

      <div class="company__item">
        <p class="company__label">Address: </p>
        <p class="company__attribute">
          <%= @company.address %>
        </p>
      </div>

      <div class="company__item">
        <p class="company__label">CNPJ: </p>
        <p class="company__attribute">
          <%= @company.cnpj %>
        </p>
      </div>

      <div class="company__item">
        <p class="company__label">Site: </p>
        <p class="company__attribute">
          <%= @company.site %>
        </p>
      </div>

      <div class="company__item">
        <p class="company__label">Social media: </p>
        <p class="company__attribute">
          <%= @company.social_media %>
        </p>
      </div>
    </div>

    <div class="company__logo">
      <% if @company.logo.attached? %>
        <%= image_tag @company.logo, class: "company__logo__img" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container jobs">
  <div class="jobs__header">
    <h3>Jobs opportunities</h3>
    <% if employee_signed_in? %>
      <% if current_employee.company_id === @company.id && current_employee.admin == 1 %>
        <div class="jobs__settings">
          <%= link_to 'Register a job opportunity', new_company_job_path(@company), class: "jobs__btn new" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if @company.jobs.empty? %>
    <h4>No registered jobs </h4>
  <% else %>
    <% @company.jobs.each do |job| %>
      <div class="jobs__item">
        <%= link_to job.title, company_job_path(job.company, job), class: "jobs__name" %>
        <% if job.inactive? %>
          <span class="jobs__status">is <%= job.status %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

    