<% if @company.name != 'Company name'%>
  <h1>Página da <%= @company.name %></h1>
<% end %>

<% if current_employee.admin == 1 %>
  <%= link_to 'Register a job opportunity', new_job_path %>
<% end %>

<%= @company.name %>
<%= @company.address %>
<%= @company.cnpj %>
<%= @company.site %>
<%= @company.social_media %>

<% if @company.logo.attached? %>
  <%= image_tag @company.logo %>
<% end %>