<div class="content bg-gradient">
  <div class="container">
    <div class="create">
      <h2 class="create__title">Esqueci a senha</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "create__form", method: :post }) do |f| %>
        <%= render "employees/shared/error_messages", resource: resource %>

        <div class="field create__block">
          <%= f.label :email, class: "create__label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "create__field" %>
        </div>

        <div class="actions">
          <%= f.submit "Resetar senha", class: "btn btn__secondary" %>
        </div>
      <% end %>

      <%= render "employees/shared/links" %>
    </div>
  </div>
</div>