<div class="container dashboard">
  <div class="dashboard__header">
    <h2 class="dashboard__title">Proposal</h2>
    <div class="dashboard__settings">
      
      <% unless @proposal.declined? %>
        <%= link_to 'Decline', decline_proposal_path(@proposal), method: :post, class: 'dashboard__btn deny' %>
      <% end %>
    </div>
  </div>

  <span class="dashboard__status <%= @proposal.status %>"><%= @proposal.status%></span>

  <div class="dashboard__grid one__column">
    <h3 class="dashboard__name">Company response</h3>
    <div class="dashboard__item proposal">
      <p class="dashboard__label">Message received on: 
        <%= @proposal.created_at.strftime("%d %B %Y at %H:%M") %>
      </p>
      <div class="dashboard__block">
        <p class="dashboard__label">Message content:</p>
        <p class="dashboard__attribute">
          <%= @proposal.proposal_message %>
        </p>
      </div>
      <div class="dashboard__block">
        <p class="dashboard__label">Salary:</p>
        <p class="dashboard__attribute">
          <%= @proposal.proposal_salary %>
        </p>
      </div>

      <div class="dashboard__block">
        <p class="dashboard__label">Start date:</p>
        <p class="dashboard__attribute">
          <%= @proposal.start_date.strftime("%d/%m/%Y") %>
        </p>
      </div>
    </div>
  </div>
  <% if @proposal.declined? %>
    <h3 class="dashboard__name">Candidate response</h3>
    <div class="dashboard__item proposal">
      <p class="dashboard__label">Message received on: 
        <%= @proposal.decline.created_at.strftime("%d %B %Y at %H:%M") %>
      </p>
      <div class="dashboard__block">
        <p class="dashboard__label">Message content:</p>
        <p class="dashboard__attribute">
          <%= @proposal.decline.reason %>
        </p>
      </div>
    </div>
  <% end %>
</div>
