<div class="container response">
  <div class="response__list">
    <div class="response__header">
      <h4 class="response__title">Company response</h4>
      <div class="response__settings">
        <%= link_to 'Decline', decline_proposal_path(@proposal), method: :post, class: 'response__btn deny' %>
      </div>
    </div>
    <div class="response__item">
      <span class="response__subtitle">message received on: 
        <%= @proposal.created_at.strftime("%d %B %Y at %H:%M") %>
      </span>
      <div class="response__block">
        <p class="response__label">Message content:</p>
        <p class="response__attribute">
          <%= @proposal.proposal_message %>
        </p>
      </div>
      <div class="response__block">
        <p class="response__label">Salary:</p>
        <p class="response__attribute">
          <%= @proposal.proposal_salary %>
        </p>
      </div>

      <div class="response__block">
        <p class="response__label">Start date:</p>
        <p class="response__attribute">
          <%= @proposal.start_date.strftime("%d/%m/%Y") %>
        </p>
      </div>
    </div>
  </div>
  <% if @proposal.declined? %>
    <div class="response__list">
      <h4 class="response__title">Candidate response</h4>
      <div class="response__item">
        <span class="response__subtitle">message received on: 
          <%= @proposal.decline.created_at.strftime("%d %B %Y at %H:%M") %>
        </span>
        <div class="response__block">
          <p class="response__label">Message content:</p>
          <p class="response__attribute">
            <%= @proposal.decline.reason %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
