<div class="container dashboard">
  <div class="dashboard__header">
    <h2 class="dashboard__title">Proposta</h2>
    <div class="dashboard__settings">
      <% unless @proposal.declined? || @proposal.accepted? %>
        <%= link_to 'Aceitar', accept_proposal_path(@proposal), method: :post, class: 'dashboard__btn apply' %>
        <%= link_to 'Recusar', decline_proposal_path(@proposal), method: :post, class: 'dashboard__btn deny' %>
      <% end %>
    </div>
  </div>

  <span class="dashboard__status <%= @proposal.status %>"><%= @proposal.status%></span>
  <div class="dashboard__grid one__column">
    <h3 class="dashboard__name">Resposta da empresa</h3>
    <div class="dashboard__item proposal">
      <p class="dashboard__label">Mensagem recebida em: 
        <%= @proposal.created_at.strftime("%d %B %Y at %H:%M") %>
      </p>
      <div class="dashboard__block">
        <p class="dashboard__label">Conteúdo da mensagem:</p>
        <p class="dashboard__attribute">
          <%= @proposal.proposal_message %>
        </p>
      </div>
      <div class="dashboard__block">
        <p class="dashboard__label">Salário:</p>
        <p class="dashboard__attribute">
          <%= @proposal.proposal_salary %>
        </p>
      </div>

      <div class="dashboard__block">
        <p class="dashboard__label">Data de início:</p>
        <p class="dashboard__attribute">
          <%= @proposal.start_date.strftime("%d/%m/%Y") %>
        </p>
      </div>
    </div>
  </div>
  <% if @proposal.declined? %>
    <h3 class="dashboard__name">Resposta do candidato</h3>
    <div class="dashboard__item proposal">
      <p class="dashboard__label">Mensagem recebida em: 
        <%= @proposal.decline.created_at.strftime("%d %B %Y at %H:%M") %>
      </p>
      <div class="dashboard__block">
        <p class="dashboard__label">Conteúdo da mensagem:</p>
        <p class="dashboard__attribute">
          <%= @proposal.decline.reason %>
        </p>
      </div>
    </div>
  <% elsif @proposal.accepted? && !@proposal.accept.blank? %>
    <h3 class="dashboard__name">Resposta do candidato</h3>
    <div class="dashboard__item proposal">
      <p class="dashboard__label">Mensagem recebida em: 
        <%= @proposal.accept.created_at.strftime("%d %B %Y at %H:%M") %>
      </p>
      <div class="dashboard__block">
        <p class="dashboard__label">Conteúdo da mensagem:</p>
        <p class="dashboard__attribute">
          <%= @proposal.accept.start_date.strftime("%d/%m/%Y") %>
        </p>
      </div>
    </div>
  <% end %>
</div>
