<div class="content bg-gray">
  <div class="container dashboard">
    <%= render 'layouts/devise_msgs' %>
    <div class="dashboard__header">
      <h2 class="dashboard__title">Proposta</h2>
      <div class="dashboard__settings">
        <% if candidate_signed_in? %>
          <% unless (@proposal.accepted? && !@proposal.accept.blank?) || (@proposal.declined? && !@proposal.decline.blank?) %>
            <%= link_to 'Aceitar', accept_proposal_path(@proposal), method: :post, class: 'btn btn__secondary' %>
            <%= link_to 'Recusar', decline_proposal_path(@proposal), method: :post, class: 'btn btn__red' %>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div class="status <%= @proposal.status %>">
      <span class="<%= @proposal.status %>"><%= Proposal.human_attribute_name("status.#{@proposal.status}") %></span>
    </div>


    <div class="container response">
      <h3 class="response__title">Resposta da empresa</h3>
      <div class="response__item">
        <p class="response__label">Mensagem recebida em: 
          <%= @proposal.created_at.strftime("%d %B %Y às %H:%M") %>
        </p>
        <div class="response__block">
          <p class="response__label">Conteúdo da mensagem:</p>
          <p class="response__attribute">
            <%= @proposal.proposal_message %>
          </p>
        </div>
        <div class="response__block">
          <p class="response__label">Salário:</p>
          <p class="response__attribute">
            <%= number_with_precision(@proposal.proposal_salary, precision: 2, separator: ',') %>
          </p>
        </div>

        <div class="response__block">
          <p class="response__label">Data de início:</p>
          <p class="response__attribute">
            <%= @proposal.start_date.strftime("%d/%m/%Y") %>
          </p>
        </div>
      </div>
    </div>
    <% if @proposal.declined? && !@proposal.decline.blank? %>
      <h3 class="response__title">Resposta do candidato</h3>
      <div class="response__item proposal">
        <p class="response__label">Mensagem recebida em: 
          <%= @proposal.decline.created_at.strftime("%d %B %Y às %H:%M") %>
        </p>
        <div class="response__block">
          <p class="response__label">Conteúdo da mensagem:</p>
          <p class="response__attribute">
            <%= @proposal.decline.reason %>
          </p>
        </div>
      </div>
    <% elsif @proposal.accepted? && !@proposal.accept.blank? %>
      <h3 class="response__title">Resposta do candidato</h3>
      <div class="response__item proposal">
        <p class="response__label">Mensagem recebida em: 
          <%= @proposal.accept.created_at.strftime("%d %B %Y às %H:%M") %>
        </p>
        <div class="response__block">
          <p class="response__label">Conteúdo da mensagem:</p>
          <p class="response__attribute">
            <%= @proposal.accept.start_date.strftime("%d/%m/%Y") %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>