<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectFase1Td5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="navbar">
          <h1><%= link_to 'Logo', root_path, class: 'navbar__logo' %></h1>
          <%# <div class="navbar__search"> %>
            <%# Adicionar a barra de pesquisa aqui %>
          <%# </div> %>
          <div class="navbar__menu">
            <ul class="navbar__list"> 
              <% if employee_signed_in? %>
                <li class="navbar__item">
                  <%= link_to 'Home', root_path, class: 'navbar__link' %>
                </li>

                <li class="navbar__item">
                  <%= link_to 'Companies', companies_path, class: 'navbar__link' %>
                </li>

                <li class="navbar__item">
                  <%= link_to 'My company', company_path(current_employee.company), class: 'navbar__link' %>
                </li>

                <div class="navbar__profile">
                  <li class="navbar__item">
                    <%= link_to 'Logout', destroy_employee_session_path, method: :delete, class: 'navbar__link' %>
                  </li>
                  <span><%= current_employee.email %></span>
                </div>

              <% elsif candidate_signed_in? %>
                <li class="navbar__item">
                  <%= link_to 'Home', root_path, class: 'navbar__link' %>
                </li>

                <li class="navbar__item">
                  <%= link_to 'Companies', companies_path, class: 'navbar__link' %>
                </li>

                <li class="navbar__item">
                  <%= link_to 'My applications', candidate_enrollments_path(current_candidate), class: 'navbar__link' %>
                </li>

                <li class="navbar__item">
                  <%= link_to 'My profile', candidate_path(current_candidate), class: 'navbar__link' %>
                </li>

                <div class="navbar__profile">
                  <li class="navbar__item">
                    <%= link_to 'Logout', destroy_candidate_session_path, method: :delete, class: 'navbar__link' %>
                  </li>
                  <span><%= current_candidate.email %></span>
                </div>

              <% else %>
                <li class="navbar__item">
                  <%= link_to 'Home', root_path, class: 'navbar__link' %>
                </li>

                <li class="navbar__item">
                  <%= link_to 'Companies', companies_path, class: 'navbar__link' %>
                </li>

                <div>
                  <li class="navbar__item">
                    <%= link_to 'Login', role_path, class: 'navbar__link' %>
                  </li>
                </div>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <div class="messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>
  </body>
</html>
