<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectFase1Td5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if employee_signed_in?%>
      <p><%= current_employee.email %></p>
      <%= link_to 'Logout', destroy_employee_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', role_path %>

    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
