<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectFase1Td5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Logo</h1>
      <nav>
        <div class="nav-wrapper">
          <ul>
            <% if employee_signed_in? %>
              <li>
                <%= link_to 'Companies', companies_path %>
              </li>

              <li>
                <%= link_to 'My company', company_path(current_employee.company) %>
              </li>

              <li>
                <%= link_to 'Logout', destroy_employee_session_path, method: :delete %>
              </li>

              <p><%= current_employee.email %></p>
            <% elsif candidate_signed_in? %>
              <li>
                <%= link_to 'Companies', companies_path %>
              </li>

              <li>
                <%= link_to 'My profile', candidate_path(current_candidate) %>
              </li>

              <li>
                <%= link_to 'Logout', destroy_candidate_session_path, method: :delete %>
              </li>

              <p><%= current_candidate.email %></p>
            <% else %>
              <li>
                <%= link_to 'Companies', companies_path %>
              </li>

              <li>
                <%= link_to 'Login', role_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
