<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectFase1Td5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="navbar">
          <div class="navbar__logo">
            <h1>
              <%= image_tag 'logo.svg' %>
            </h1>
          </div>
          <div class="navbar__search">
            <%= form_with url: search_path, method: :get, html: { class: "navbar__search__form"} do %>
              <%= text_field_tag :q, nil, placeholder: 'Pesquisar' %>
              <%= submit_tag 'search', class: "navbar__btn material-icons" %>
            <% end %>
          </div>
          <div class="navbar__menu">
            <ul class="navbar__list"> 
              <% if employee_signed_in? %>
                <li class="navbar__item">
                  <%= link_to 'Home', root_path, class: 'navbar__link' %>
                </li>

                <li class="navbar__item">
                  <%= link_to 'Minha empresa', company_path(current_employee.company), class: 'navbar__link' %>
                </li>

                <div class="navbar__profile">
                  <li class="navbar__item">
                    <%= link_to 'Logout', destroy_employee_session_path, method: :delete, class: 'navbar__link' %>
                  </li>
                  <span><%= current_employee.email %></span>
                </div>

              <% elsif candidate_signed_in? %>
                <li class="navbar__item">
                  <%= link_to 'Home', root_path, class: 'navbar__link' %>
                </li>

                <li class="navbar__item">
                  <%= link_to 'Empresas', companies_path, class: 'navbar__link' %>
                </li>

                <li class="navbar__item">
                  <%= link_to 'Inscrições', candidate_enrollments_path(current_candidate), class: 'navbar__link' %>
                </li>

                <li class="navbar__item">
                  <%= link_to 'Perfil', candidate_path(current_candidate), class: 'navbar__link' %>
                </li>

                <div class="navbar__profile">
                  <li class="navbar__item">
                    <%= link_to 'Logout', destroy_candidate_session_path, method: :delete, class: 'navbar__link' %>
                  </li>
                  <span><%= current_candidate.email %></span>
                </div>

              <% else %>
                <li class="navbar__item">
                  <%= link_to 'Home', root_path, class: 'navbar__link' %>
                </li>

                <li class="navbar__item">
                  <%= link_to 'Empresas', companies_path, class: 'navbar__link' %>
                </li>

                <div>
                  <li class="navbar__item">
                    <%= link_to 'Login', role_path, class: 'navbar__link' %>
                  </li>
                </div>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <%= yield %>

    <%= yield :javascript %>
    <footer>
      <div class="container footer">
        <p class="footer__copyright">&copyCriado por Christopher Alves</p>
      </div>
    </footer>
  </body>
</html>
